* {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: system-ui, Helvetica, sans-serif;
  height: 100vh;
  width: 100vw;
  background: rgb(5, 0, 41);
  background: linear-gradient(
    180deg,
    rgba(5, 0, 41, 1) 0%,
    rgba(33, 15, 55, 1) 50%,
    rgba(52, 45, 78, 1) 100%
  ) no-repeat fixed;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  overflow-x: hidden;
}

header {
  padding: 1em 0;
  width: 100%;
  animation: fade-in 0.5s;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  color: hsl(0, 0%, 90%);
}
.logo:hover {
  color: hsl(0, 0%, 100%);
}

main {
  margin: 20px auto;
  animation: fade-in 0.4s;
  max-height: 700px;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 25px;
  max-width: 550px;
  margin: 25px auto;
  line-height: 0.9;
}

.text {
  font-size: 24px;
  max-width: 630px;
  margin: 0 auto;
  opacity: 0.8;
  line-height: 1.4;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  background: hsl(0, 0%, 0%);
  color: white;
  padding: 20px 25px;
  border-radius: 16px;
}
.btn:hover {
  background: hsl(0, 0%, 10%);
}
.btn:active {
  background: hsl(0, 0%, 5%);
  border: 1px solid white;
}

footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  animation: fade-in 0.5s 0.2s backwards;
}

footer > ul {
  display: flex;
  color: rgba(255, 255, 255, 0.5);
  gap: 1em;
}

footer > ul > li > a {
  color: rgba(255, 255, 255, 0.5);
}
footer > ul > li > a:hover {
  color: rgba(255, 255, 255, 0.953);
}
@media (max-width: 700px) {
  footer {
    flex-direction: column;
    gap: 8px;
  }
  main {
    max-width: 400px;
  }
  h1 {
    font-size: 2rem;
  }
  .text {
    font-size: 18px;
  }
}
